In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

from google.colab import drive
drive.mount('/content/drive')
mount_dir="/content/drive/MyDrive"
this_dir=mount_dir+"/git_repos/probspace/野菜取引価格の予測"

Mounted at /content/drive

In [2]:
price_df=pd.read_csv(this_dir+"/data/price_df.csv",index_col=0)
weather_df=pd.read_csv(this_dir+"/data/weather_df.csv",index_col=0)

# データを扱いやすいように再構築

## price_df

In [ ]:
#price読み込み
raw_price_df=pd.read_csv(this_dir+"/data/train_data.csv")
raw_price_df.head()

,id,えのきだけ_中国,えのきだけ_九州,えのきだけ_北海道,えのきだけ_北陸,えのきだけ_四国,えのきだけ_東北,えのきだけ_東海,えのきだけ_近畿,えのきだけ_関東,...,レタス_関東,生しいたけ_中国,生しいたけ_九州,生しいたけ_北海道,生しいたけ_北陸,生しいたけ_四国,生しいたけ_東北,生しいたけ_東海,生しいたけ_近畿,生しいたけ_関東
0,2016-01-01,314.0,301.0,304.0,274.0,267.0,213.0,278.0,285.0,279.0,...,271.0,1098.0,1048.0,737.0,1231.0,1021.0,988.0,1119.0,1113.0,1118.0
1,2016-02-01,306.0,316.0,309.0,288.0,293.0,278.0,286.0,295.0,291.0,...,311.0,1080.0,956.0,750.0,1241.0,1037.0,964.0,1139.0,1127.0,1116.0
2,2016-03-01,245.0,217.0,317.0,219.0,227.0,164.0,210.0,213.0,204.0,...,278.0,946.0,739.0,728.0,1202.0,886.0,941.0,989.0,937.0,1044.0
3,2016-04-01,227.0,182.0,304.0,195.0,202.0,153.0,205.0,203.0,189.0,...,209.0,875.0,749.0,734.0,1014.0,827.0,887.0,924.0,882.0,982.0
4,2016-05-01,232.0,202.0,306.0,206.0,215.0,170.0,221.0,220.0,206.0,...,165.0,886.0,821.0,710.0,1055.0,892.0,867.0,942.0,946.0,990.0

### 再構築

In [ ]:
# date veg region price
price_df=pd.DataFrame([],columns=['date', 'veg', 'region', 'price'])
df_len=len(raw_price_df["id"].values)
for col in raw_price_df.columns[1:]:
  veg,region=col.split("_")
  tmp_df=pd.DataFrame({'date':raw_price_df["id"].values, 'veg':[veg]*df_len, 'region':[region]*df_len, 'price':raw_price_df[col].values})
  tmp_df["date"]=pd.to_datetime(tmp_df["date"])
  price_df=pd.concat([price_df,tmp_df], ignore_index=True)
price_df.head()
#price_df.info()

        date    veg region  price
0 2016-01-01  えのきだけ     中国  314.0
1 2016-02-01  えのきだけ     中国  306.0
2 2016-03-01  えのきだけ     中国  245.0
3 2016-04-01  えのきだけ     中国  227.0
4 2016-05-01  えのきだけ     中国  232.0

### export

In [ ]:
price_df.to_csv(this_dir+"/data/price_df.csv")

## weather_df

### データ読み込み

In [ ]:
#weather読み込み
raw_weather_df=pd.read_csv(this_dir+"/data/weather.csv")
raw_weather_df.head()

,Unnamed: 0,宗谷,宗谷.1,宗谷.2,宗谷.3,宗谷.4,宗谷.5,宗谷.6,宗谷.7,宗谷.8,...,沖縄.126,沖縄.127,沖縄.128,沖縄.129,沖縄.130,沖縄.131,沖縄.132,沖縄.133,沖縄.134,沖縄.135
0,NaN,稚内,稚内,稚内,稚内,稚内,稚内,稚内,稚内,稚内,...,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）,南大東（南大東島）
1,NaN,平均気温(℃),日平均気温25℃以上日数(日),日最高気温の平均(℃),日平均気温0℃未満日数(日),日最低気温の平均(℃),日最高気温25℃以上日数(日),最高気温(℃),日最高気温0℃未満日数(日),最低気温(℃),...,日最高気温0℃未満日数(日),最低気温(℃),日最低気温25℃以上日数(日),日最低気温0℃未満日数(日),降水量の合計(mm),日降水量の最大(mm),最深積雪(cm),降雪量合計(cm),日照時間(時間),日照時間0.1時間未満日数(日)
2,年月,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015/1,-2.9,0.0,-1.1,28.0,-5.0,0.0,4.3,19.0,-8.1,...,0.0,7.3,0.0,0.0,42.0,14.5,0.0,0.0,99.8,5.0
4,2015/2,-1.7,0.0,0.2,21.0,-4.0,0.0,5.3,14.0,-11.0,...,0.0,5.8,0.0,0.0,7.0,4.5,0.0,0.0,126.7,1.0

### 地名から地域名の対応表 by ChatGPT

In [ ]:
places=[p for p in list(set(raw_weather_df.loc[0,:])) if type(p) is str]
regions=['中国', '中部', '九州', '北海道', '北陸', '四国', '東北', '沖縄', '関東', '関西']
#地名一覧
areas=[col for col in raw_weather_df.columns if '.' not in col][1:]

In [ ]:
area_region = {
    '宗谷': '北海道',
    '留萌': '北海道',
    '上川': '北海道',
    '網走・北見・紋別': '北海道',
    '空知': '北海道',
    '後志': '北海道',
    '石狩': '北海道',
    '日高': '北海道',
    '十勝': '北海道',
    '根室': '北海道',
    '檜山': '北海道',
    '胆振': '北海道',
    '釧路': '北海道',
    '渡島': '北海道',
    '青森': '東北',
    '秋田': '東北',
    '岩手': '東北',
    '石川': '北陸',
    '山形': '東北',
    '宮城': '東北',
    '富山': '北陸',
    '新潟': '中部',
    '福島': '東北',
    '山口': '中国',
    '島根': '中国',
    '鳥取': '中国',
    '兵庫': '関西',
    '京都': '関西',
    '福井': '北陸',
    '岐阜': '中部',
    '長野': '中部',
    '群馬': '関東',
    '栃木': '関東',
    '茨城': '関東',
    '広島': '中国',
    '岡山': '中国',
    '滋賀': '関西',
    '山梨': '中部',
    '埼玉': '関東',
    '長崎': '九州',
    '佐賀': '九州',
    '福岡': '九州',
    '大阪': '関西',
    '奈良': '関西',
    '三重': '中部',
    '愛知': '中部',
    '静岡': '中部',
    '神奈川': '関東',
    '東京': '関東',
    '千葉': '関東',
    '熊本': '九州',
    '大分': '九州',
    '愛媛': '四国',
    '香川': '四国',
    '和歌山': '関西',
    '鹿児島': '九州',
    '宮崎': '九州',
    '高知': '四国',
    '徳島': '四国',
    '沖縄': '沖縄'
}

In [ ]:
region_area={r:[a for a,v in area_region.items() if v==r] for r in regions}
region_area

{'中国': ['山口', '島根', '鳥取', '広島', '岡山'],
 '中部': ['新潟', '岐阜', '長野', '山梨', '三重', '愛知', '静岡'],
 '九州': ['長崎', '佐賀', '福岡', '熊本', '大分', '鹿児島', '宮崎'],
 '北海道': ['宗谷',
  '留萌',
  '上川',
  '網走・北見・紋別',
  '空知',
  '後志',
  '石狩',
  '日高',
  '十勝',
  '根室',
  '檜山',
  '胆振',
  '釧路',
  '渡島'],
 '北陸': ['石川', '富山', '福井'],
 '四国': ['愛媛', '香川', '高知', '徳島'],
 '東北': ['青森', '秋田', '岩手', '山形', '宮城', '福島'],
 '沖縄': ['沖縄'],
 '関東': ['群馬', '栃木', '茨城', '埼玉', '神奈川', '東京', '千葉'],
 '関西': ['兵庫', '京都', '滋賀', '大阪', '奈良', '和歌山']}

In [ ]:
place_area={}
for p in places:
  place_area[p]=raw_weather_df.columns[raw_weather_df.loc[0,:]==p][0].split(".")[0]
place_area

{'雫石': '岩手',
 '都城': '宮崎',
 '千屋': '岡山',
 '宇登呂': '網走・北見・紋別',
 '占冠': '上川',
 '上野': '三重',
 '鷹巣': '秋田',
 '福岡': '福岡',
 '幾寅': '上川',
 '区界': '岩手',
 '大分': '大分',
 '朝日': '富山',
 '左沢': '山形',
 '深浦': '青森',
 '共和': '後志',
 '矢島': '秋田',
 '北見枝幸': '宗谷',
 '帯広': '十勝',
 '音威子府': '上川',
 '和歌山': '和歌山',
 '大船渡': '岩手',
 '白川': '岐阜',
 '紋別': '網走・北見・紋別',
 '宿毛': '高知',
 '秩父': '埼玉',
 '松江': '島根',
 '浦河': '日高',
 '稚内': '宗谷',
 '新川': '宮城',
 '今別': '青森',
 '豊富': '宗谷',
 '米子': '鳥取',
 '白糠': '釧路',
 '芦別': '空知',
 '山口': '山口',
 '酒田': '山形',
 '倉吉': '鳥取',
 '新篠津': '石狩',
 '守門': '新潟',
 '諏訪': '長野',
 '湯の岱': '秋田',
 '佐賀': '佐賀',
 '軽井沢': '長野',
 '中徹別': '釧路',
 '中杵臼': '日高',
 '大阪': '大阪',
 '藤原': '群馬',
 'つくば（館野）': '茨城',
 '苫小牧': '胆振',
 '室戸岬': '高知',
 '蘭越': '後志',
 '横手': '秋田',
 '浜松': '静岡',
 '日高': '日高',
 '宮古': '岩手',
 '美深': '上川',
 '信濃町': '長野',
 '白滝': '網走・北見・紋別',
 '山形': '山形',
 '夕張': '空知',
 '横浜': '神奈川',
 '柏崎': '新潟',
 '葛巻': '岩手',
 '河合': '岐阜',
 '遠野': '岩手',
 '横田': '島根',
 '草津': '群馬',
 '歌登': '宗谷',
 '八戸': '青森',
 '四日市': '三重',
 '御前崎': '静岡',
 '富山': '富山',
 '小浜': '福井',
 '滝上': '網走・北見・紋別',
 '香住': '兵庫',
 '酸ケ湯': '青森',
 '上長田': '岡山',
 '石廊崎': '静岡',
 '厚田': '石狩',
 '静岡': '静岡',
 '福井': '福井',
 '小名浜': '福島',
 '大樹': '十勝',
 '千葉': '千葉',
 '大滝': '胆振',
 '今金': '檜山',
 '只見': '福島',
 '新得': '十勝',
 '静内': '日高',
 '福山': '広島',
 '尾花沢': '山形',
 '赤名': '島根',
 '鶉': '檜山',
 '岩見沢': '空知',
 '沼川': '宗谷',
 '新津': '新潟',
 '珠洲': '石川',
 '新庄': '山形',
 '十和田': '青森',
 '鹿角': '秋田',
 '駒ノ湯': '宮城',
 '宮古島': '沖縄',
 '西郷': '島根',
 '標茶': '釧路',
 '岩泉': '岩手',
 '上士幌': '十勝',
 '八雲': '渡島',
 '沖永良部': '鹿児島',
 '東京': '東京',
 '多度津': '香川',
 '上川': '上川',
 '青森': '青森',
 '名古屋': '愛知',
 'みなかみ': '群馬',
 '高知': '高知',
 '舞鶴': '京都',
 '関ケ原': '岐阜',
 '三戸': '青森',
 '岩手松尾': '岩手',
 '三宅島': '東京',
 '人吉': '熊本',
 '佐呂間': '網走・北見・紋別',
 '白石': '宮城',
 '牛深': '熊本',
 '本荘': '秋田',
 '五所川原': '青森',
 '鰺ケ沢': '青森',
 '京都': '京都',
 '羅臼': '根室',
 '黒松内': '後志',
 '大島': '東京',
 '父島': '東京',
 '雄武': '網走・北見・紋別',
 '南大東（南大東島）': '沖縄',
 '阿仁合': '秋田',
 '佐世保': '長崎',
 '倶知安': '後志',
 '秋田': '秋田',
 '狩川': '山形',
 '前橋': '群馬',
 '桧枝岐': '福島',
 '札幌': '石狩',
 '七尾': '石川',
 '砺波': '富山',
 '安塚': '新潟',
 '伏木': '富山',
 '熊石': '渡島',
 '大野': '福井',
 '宇和島': '愛媛',
 '久米島': '沖縄',
 '天塩': '留萌',
 '豊岡': '兵庫',
 '恵庭島松': '石狩',
 '高野': '広島',
 '茂庭': '福島',
 '萩': '山口',
 '氷見': '富山',
 '油津': '宮崎',
 '江差': '檜山',
 '羽幌': '留萌',
 '芽室': '十勝',
 '富良野': '上川',
 '名瀬': '鹿児島',
 '白老': '胆振',
 '三島': '静岡',
 '種子島': '鹿児島',
 '美瑛': '上川',
 '幌糠': '留萌',
 '石巻': '宮城',
 '水戸': '茨城',
 '仙台': '宮城',
 '向町': '山形',
 '本別': '十勝',
 '福江': '長崎',
 '野沢温泉': '長野',
 '大岸': '胆振',
 '長野': '長野',
 '館山': '千葉',
 '寿都': '後志',
 '西表島': '沖縄',
 '尾鷲': '三重',
 '和田山': '兵庫',
 '田島': '福島',
 '肘折': '山形',
 '高田': '新潟',
 '奥中山': '岩手',
 '小出': '新潟',
 '阿寒湖畔': '釧路',
 '浦幌': '十勝',
 '加賀菅谷': '石川',
 '魚津': '富山',
 '大町': '長野',
 '盛岡': '岩手',
 '浜田': '島根',
 '延岡': '宮崎',
 '日田': '大分',
 '余市': '後志',
 '松山': '愛媛',
 '鶴居': '釧路',
 '北上': '岩手',
 '朱鞠内': '上川',
 '函館': '渡島',
 '森': '渡島',
 '相川': '新潟',
 '中頓別': '宗谷',
 '熊本': '熊本',
 '清水': '高知',
 '南鳥島': '東京',
 '広島': '広島',
 '津山': '岡山',
 '名護': '沖縄',
 '太田': '釧路',
 '南阿蘇': '熊本',
 '長崎': '長崎',
 '河口湖': '山梨',
 '中標津': '根室',
 '美唄': '空知',
 '二戸': '岩手',
 '留萌': '留萌',
 '宮崎': '宮崎',
 '雲仙岳': '長崎',
 '和寒': '上川',
 '智頭': '鳥取',
 '米沢': '山形',
 '石狩': '石狩',
 '瑞穂': '島根',
 '白山河内': '石川',
 '金山': '山形',
 '陸別': '十勝',
 '西興部': '網走・北見・紋別',
 '滝川': '空知',
 '神戸': '兵庫',
 '留辺蘂': '網走・北見・紋別',
 '伊良湖': '愛知',
 '能代': '秋田',
 '洲本': '兵庫',
 '名寄': '上川',
 '津南': '新潟',
 '奈良': '奈良',
 '脇野沢': '青森',
 '長滝': '岐阜',
 '潮岬': '和歌山',
 '那須高原': '栃木',
 '米原': '滋賀',
 '銚子': '千葉',
 '幌加内': '上川',
 '勝浦': '千葉',
 '大井沢': '山形',
 '下川': '上川',
 '弘前': '青森',
 '今岡': '岡山',
 '浜鬼志別': '宗谷',
 '福島': '福島',
 '角館': '秋田',
 '今庄': '福井',
 '小樽': '後志',
 '湯沢': '秋田',
 '境': '鳥取',
 '白河': '福島',
 '関山': '新潟',
 '樽見': '岐阜',
 '飯田': '長野',
 '南郷': '福島',
 '長井': '山形',
 '呉': '広島',
 '長万部': '渡島',
 '遠軽': '網走・北見・紋別',
 '初山別': '留萌',
 '阿久根': '鹿児島',
 '北見': '網走・北見・紋別',
 '碇ケ関': '青森',
 '湯本': '福島',
 '斜里': '網走・北見・紋別',
 '与那国島': '沖縄',
 '西会津': '福島',
 '川湯': '釧路',
 '飯塚': '福岡',
 '室蘭': '胆振',
 '平戸': '長崎',
 '開田高原': '長野',
 '大朝': '広島',
 '高山': '岐阜',
 '根室': '根室',
 '久慈': '岩手',
 'ぬかびら源泉郷': '十勝',
 '別海': '根室',
 '美山': '京都',
 '下関': '新潟',
 '神岡': '岐阜',
 '弥栄': '島根',
 '岐阜': '岐阜',
 '津川': '新潟',
 '八丈島': '東京',
 '厚床': '根室',
 '古川': '宮城',
 '上札内': '十勝',
 '旭川': '上川',
 '網代': '静岡',
 '十日町': '新潟',
 '鹿児島': '鹿児島',
 '猪苗代': '福島',
 '松本': '長野',
 '土呂部': '栃木',
 '高松': '香川',
 '湯田': '岩手',
 '彦根': '滋賀',
 '広尾': '十勝',
 '深川': '空知',
 'むつ': '青森',
 '熊谷': '埼玉',
 '宇都宮': '栃木',
 '野辺地': '青森',
 '若松': '福島',
 '輪島': '石川',
 '津': '三重',
 '金沢': '石川',
 '甲府': '山梨',
 '大間': '青森',
 '川渡': '宮城',
 '喜茂別': '後志',
 '一関': '岩手',
 '穂別': '胆振',
 '白馬': '長野',
 '岡山': '岡山',
 '釧路': '釧路',
 '姫路': '兵庫',
 '小国': '山形',
 '石垣島': '沖縄',
 '屋久島': '鹿児島',
 '今津': '滋賀',
 '敦賀': '福井',
 '津別': '網走・北見・紋別',
 '長岡': '新潟',
 '網走': '網走・北見・紋別',
 '鳥取': '鳥取',
 '登別': '胆振',
 '徳島': '徳島',
 '厳原': '長崎',
 '飯山': '長野',
 '那覇': '沖縄',
 '兎和野高原': '兵庫',
 '枕崎': '鹿児島',
 '菅平': '長野',
 '能生': '新潟',
 '奥日光（日光）': '栃木',
 '五城目': '秋田',
 '新潟': '新潟',
 '大正寺': '秋田'}

In [ ]:
area_place={a:[p for p,v in place_area.items() if v==a] for a in areas}
area_place

{'宗谷': ['北見枝幸', '稚内', '豊富', '歌登', '沼川', '中頓別', '浜鬼志別'],
 '留萌': ['天塩', '羽幌', '幌糠', '留萌', '初山別'],
 '上川': ['占冠',
  '幾寅',
  '音威子府',
  '美深',
  '上川',
  '富良野',
  '美瑛',
  '朱鞠内',
  '和寒',
  '名寄',
  '幌加内',
  '下川',
  '旭川'],
 '網走・北見・紋別': ['宇登呂',
  '紋別',
  '白滝',
  '滝上',
  '佐呂間',
  '雄武',
  '西興部',
  '留辺蘂',
  '遠軽',
  '北見',
  '斜里',
  '津別',
  '網走'],
 '空知': ['芦別', '夕張', '岩見沢', '美唄', '滝川', '深川'],
 '後志': ['共和', '蘭越', '黒松内', '倶知安', '寿都', '余市', '小樽', '喜茂別'],
 '石狩': ['新篠津', '厚田', '札幌', '恵庭島松', '石狩'],
 '日高': ['浦河', '中杵臼', '日高', '静内'],
 '十勝': ['帯広',
  '大樹',
  '新得',
  '上士幌',
  '芽室',
  '本別',
  '浦幌',
  '陸別',
  'ぬかびら源泉郷',
  '上札内',
  '広尾'],
 '根室': ['羅臼', '中標津', '根室', '別海', '厚床'],
 '檜山': ['今金', '鶉', '江差'],
 '胆振': ['苫小牧', '大滝', '白老', '大岸', '室蘭', '穂別', '登別'],
 '釧路': ['白糠', '中徹別', '標茶', '阿寒湖畔', '鶴居', '太田', '川湯', '釧路'],
 '渡島': ['八雲', '熊石', '函館', '森', '長万部'],
 '青森': ['深浦',
  '今別',
  '八戸',
  '酸ケ湯',
  '十和田',
  '青森',
  '三戸',
  '五所川原',
  '鰺ケ沢',
  '脇野沢',
  '弘前',
  '碇ケ関',
  'むつ',
  '野辺地',
  '大間'],
 '秋田': ['鷹巣',
  '矢島',
  '湯の岱',
  '横手',
  '鹿角',
  '本荘',
  '阿仁合',
  '秋田',
  '能代',
  '角館',
  '湯沢',
  '五城目',
  '大正寺'],
 '岩手': ['雫石',
  '区界',
  '大船渡',
  '宮古',
  '葛巻',
  '遠野',
  '岩泉',
  '岩手松尾',
  '奥中山',
  '盛岡',
  '北上',
  '二戸',
  '久慈',
  '湯田',
  '一関'],
 '石川': ['珠洲', '七尾', '加賀菅谷', '白山河内', '輪島', '金沢'],
 '山形': ['左沢',
  '酒田',
  '山形',
  '尾花沢',
  '新庄',
  '狩川',
  '向町',
  '肘折',
  '米沢',
  '金山',
  '大井沢',
  '長井',
  '小国'],
 '宮城': ['新川', '駒ノ湯', '白石', '石巻', '仙台', '古川', '川渡'],
 '富山': ['朝日', '富山', '砺波', '伏木', '氷見', '魚津'],
 '新潟': ['守門',
  '柏崎',
  '新津',
  '安塚',
  '高田',
  '小出',
  '相川',
  '津南',
  '関山',
  '下関',
  '津川',
  '十日町',
  '長岡',
  '能生',
  '新潟'],
 '福島': ['小名浜',
  '只見',
  '桧枝岐',
  '茂庭',
  '田島',
  '福島',
  '白河',
  '南郷',
  '湯本',
  '西会津',
  '猪苗代',
  '若松'],
 '山口': ['山口', '萩'],
 '島根': ['松江', '横田', '赤名', '西郷', '浜田', '瑞穂', '弥栄'],
 '鳥取': ['米子', '倉吉', '智頭', '境', '鳥取'],
 '兵庫': ['香住', '豊岡', '和田山', '神戸', '洲本', '姫路', '兎和野高原'],
 '京都': ['舞鶴', '京都', '美山'],
 '福井': ['小浜', '福井', '大野', '今庄', '敦賀'],
 '岐阜': ['白川', '河合', '関ケ原', '長滝', '樽見', '高山', '神岡', '岐阜'],
 '長野': ['諏訪',
  '軽井沢',
  '信濃町',
  '野沢温泉',
  '長野',
  '大町',
  '飯田',
  '開田高原',
  '松本',
  '白馬',
  '飯山',
  '菅平'],
 '群馬': ['藤原', '草津', 'みなかみ', '前橋'],
 '栃木': ['那須高原', '土呂部', '宇都宮', '奥日光（日光）'],
 '茨城': ['つくば（館野）', '水戸'],
 '広島': ['福山', '高野', '広島', '呉', '大朝'],
 '岡山': ['千屋', '上長田', '津山', '今岡', '岡山'],
 '滋賀': ['米原', '彦根', '今津'],
 '山梨': ['河口湖', '甲府'],
 '埼玉': ['秩父', '熊谷'],
 '長崎': ['佐世保', '福江', '長崎', '雲仙岳', '平戸', '厳原'],
 '佐賀': ['佐賀'],
 '福岡': ['福岡', '飯塚'],
 '大阪': ['大阪'],
 '奈良': ['奈良'],
 '三重': ['上野', '四日市', '尾鷲', '津'],
 '愛知': ['名古屋', '伊良湖'],
 '静岡': ['浜松', '御前崎', '石廊崎', '静岡', '三島', '網代'],
 '神奈川': ['横浜'],
 '東京': ['東京', '三宅島', '大島', '父島', '南鳥島', '八丈島'],
 '千葉': ['千葉', '館山', '銚子', '勝浦'],
 '熊本': ['人吉', '牛深', '熊本', '南阿蘇'],
 '大分': ['大分', '日田'],
 '愛媛': ['宇和島', '松山'],
 '香川': ['多度津', '高松'],
 '和歌山': ['和歌山', '潮岬'],
 '鹿児島': ['沖永良部', '名瀬', '種子島', '阿久根', '鹿児島', '屋久島', '枕崎'],
 '宮崎': ['都城', '油津', '延岡', '宮崎'],
 '高知': ['宿毛', '室戸岬', '高知', '清水'],
 '徳島': ['徳島'],
 '沖縄': ['宮古島', '南大東（南大東島）', '久米島', '西表島', '名護', '与那国島', '石垣島', '那覇']}

In [ ]:
place_region={p:area_region[a] for p,a in place_area.items()}
place_region

{'雫石': '東北',
 '都城': '九州',
 '千屋': '中国',
 '宇登呂': '北海道',
 '占冠': '北海道',
 '上野': '中部',
 '鷹巣': '東北',
 '福岡': '九州',
 '幾寅': '北海道',
 '区界': '東北',
 '大分': '九州',
 '朝日': '北陸',
 '左沢': '東北',
 '深浦': '東北',
 '共和': '北海道',
 '矢島': '東北',
 '北見枝幸': '北海道',
 '帯広': '北海道',
 '音威子府': '北海道',
 '和歌山': '関西',
 '大船渡': '東北',
 '白川': '中部',
 '紋別': '北海道',
 '宿毛': '四国',
 '秩父': '関東',
 '松江': '中国',
 '浦河': '北海道',
 '稚内': '北海道',
 '新川': '東北',
 '今別': '東北',
 '豊富': '北海道',
 '米子': '中国',
 '白糠': '北海道',
 '芦別': '北海道',
 '山口': '中国',
 '酒田': '東北',
 '倉吉': '中国',
 '新篠津': '北海道',
 '守門': '中部',
 '諏訪': '中部',
 '湯の岱': '東北',
 '佐賀': '九州',
 '軽井沢': '中部',
 '中徹別': '北海道',
 '中杵臼': '北海道',
 '大阪': '関西',
 '藤原': '関東',
 'つくば（館野）': '関東',
 '苫小牧': '北海道',
 '室戸岬': '四国',
 '蘭越': '北海道',
 '横手': '東北',
 '浜松': '中部',
 '日高': '北海道',
 '宮古': '東北',
 '美深': '北海道',
 '信濃町': '中部',
 '白滝': '北海道',
 '山形': '東北',
 '夕張': '北海道',
 '横浜': '関東',
 '柏崎': '中部',
 '葛巻': '東北',
 '河合': '中部',
 '遠野': '東北',
 '横田': '中国',
 '草津': '関東',
 '歌登': '北海道',
 '八戸': '東北',
 '四日市': '中部',
 '御前崎': '中部',
 '富山': '北陸',
 '小浜': '北陸',
 '滝上': '北海道',
 '香住': '関西',
 '酸ケ湯': '東北',
 '上長田': '中国',
 '石廊崎': '中部',
 '厚田': '北海道',
 '静岡': '中部',
 '福井': '北陸',
 '小名浜': '東北',
 '大樹': '北海道',
 '千葉': '関東',
 '大滝': '北海道',
 '今金': '北海道',
 '只見': '東北',
 '新得': '北海道',
 '静内': '北海道',
 '福山': '中国',
 '尾花沢': '東北',
 '赤名': '中国',
 '鶉': '北海道',
 '岩見沢': '北海道',
 '沼川': '北海道',
 '新津': '中部',
 '珠洲': '北陸',
 '新庄': '東北',
 '十和田': '東北',
 '鹿角': '東北',
 '駒ノ湯': '東北',
 '宮古島': '沖縄',
 '西郷': '中国',
 '標茶': '北海道',
 '岩泉': '東北',
 '上士幌': '北海道',
 '八雲': '北海道',
 '沖永良部': '九州',
 '東京': '関東',
 '多度津': '四国',
 '上川': '北海道',
 '青森': '東北',
 '名古屋': '中部',
 'みなかみ': '関東',
 '高知': '四国',
 '舞鶴': '関西',
 '関ケ原': '中部',
 '三戸': '東北',
 '岩手松尾': '東北',
 '三宅島': '関東',
 '人吉': '九州',
 '佐呂間': '北海道',
 '白石': '東北',
 '牛深': '九州',
 '本荘': '東北',
 '五所川原': '東北',
 '鰺ケ沢': '東北',
 '京都': '関西',
 '羅臼': '北海道',
 '黒松内': '北海道',
 '大島': '関東',
 '父島': '関東',
 '雄武': '北海道',
 '南大東（南大東島）': '沖縄',
 '阿仁合': '東北',
 '佐世保': '九州',
 '倶知安': '北海道',
 '秋田': '東北',
 '狩川': '東北',
 '前橋': '関東',
 '桧枝岐': '東北',
 '札幌': '北海道',
 '七尾': '北陸',
 '砺波': '北陸',
 '安塚': '中部',
 '伏木': '北陸',
 '熊石': '北海道',
 '大野': '北陸',
 '宇和島': '四国',
 '久米島': '沖縄',
 '天塩': '北海道',
 '豊岡': '関西',
 '恵庭島松': '北海道',
 '高野': '中国',
 '茂庭': '東北',
 '萩': '中国',
 '氷見': '北陸',
 '油津': '九州',
 '江差': '北海道',
 '羽幌': '北海道',
 '芽室': '北海道',
 '富良野': '北海道',
 '名瀬': '九州',
 '白老': '北海道',
 '三島': '中部',
 '種子島': '九州',
 '美瑛': '北海道',
 '幌糠': '北海道',
 '石巻': '東北',
 '水戸': '関東',
 '仙台': '東北',
 '向町': '東北',
 '本別': '北海道',
 '福江': '九州',
 '野沢温泉': '中部',
 '大岸': '北海道',
 '長野': '中部',
 '館山': '関東',
 '寿都': '北海道',
 '西表島': '沖縄',
 '尾鷲': '中部',
 '和田山': '関西',
 '田島': '東北',
 '肘折': '東北',
 '高田': '中部',
 '奥中山': '東北',
 '小出': '中部',
 '阿寒湖畔': '北海道',
 '浦幌': '北海道',
 '加賀菅谷': '北陸',
 '魚津': '北陸',
 '大町': '中部',
 '盛岡': '東北',
 '浜田': '中国',
 '延岡': '九州',
 '日田': '九州',
 '余市': '北海道',
 '松山': '四国',
 '鶴居': '北海道',
 '北上': '東北',
 '朱鞠内': '北海道',
 '函館': '北海道',
 '森': '北海道',
 '相川': '中部',
 '中頓別': '北海道',
 '熊本': '九州',
 '清水': '四国',
 '南鳥島': '関東',
 '広島': '中国',
 '津山': '中国',
 '名護': '沖縄',
 '太田': '北海道',
 '南阿蘇': '九州',
 '長崎': '九州',
 '河口湖': '中部',
 '中標津': '北海道',
 '美唄': '北海道',
 '二戸': '東北',
 '留萌': '北海道',
 '宮崎': '九州',
 '雲仙岳': '九州',
 '和寒': '北海道',
 '智頭': '中国',
 '米沢': '東北',
 '石狩': '北海道',
 '瑞穂': '中国',
 '白山河内': '北陸',
 '金山': '東北',
 '陸別': '北海道',
 '西興部': '北海道',
 '滝川': '北海道',
 '神戸': '関西',
 '留辺蘂': '北海道',
 '伊良湖': '中部',
 '能代': '東北',
 '洲本': '関西',
 '名寄': '北海道',
 '津南': '中部',
 '奈良': '関西',
 '脇野沢': '東北',
 '長滝': '中部',
 '潮岬': '関西',
 '那須高原': '関東',
 '米原': '関西',
 '銚子': '関東',
 '幌加内': '北海道',
 '勝浦': '関東',
 '大井沢': '東北',
 '下川': '北海道',
 '弘前': '東北',
 '今岡': '中国',
 '浜鬼志別': '北海道',
 '福島': '東北',
 '角館': '東北',
 '今庄': '北陸',
 '小樽': '北海道',
 '湯沢': '東北',
 '境': '中国',
 '白河': '東北',
 '関山': '中部',
 '樽見': '中部',
 '飯田': '中部',
 '南郷': '東北',
 '長井': '東北',
 '呉': '中国',
 '長万部': '北海道',
 '遠軽': '北海道',
 '初山別': '北海道',
 '阿久根': '九州',
 '北見': '北海道',
 '碇ケ関': '東北',
 '湯本': '東北',
 '斜里': '北海道',
 '与那国島': '沖縄',
 '西会津': '東北',
 '川湯': '北海道',
 '飯塚': '九州',
 '室蘭': '北海道',
 '平戸': '九州',
 '開田高原': '中部',
 '大朝': '中国',
 '高山': '中部',
 '根室': '北海道',
 '久慈': '東北',
 'ぬかびら源泉郷': '北海道',
 '別海': '北海道',
 '美山': '関西',
 '下関': '中部',
 '神岡': '中部',
 '弥栄': '中国',
 '岐阜': '中部',
 '津川': '中部',
 '八丈島': '関東',
 '厚床': '北海道',
 '古川': '東北',
 '上札内': '北海道',
 '旭川': '北海道',
 '網代': '中部',
 '十日町': '中部',
 '鹿児島': '九州',
 '猪苗代': '東北',
 '松本': '中部',
 '土呂部': '関東',
 '高松': '四国',
 '湯田': '東北',
 '彦根': '関西',
 '広尾': '北海道',
 '深川': '北海道',
 'むつ': '東北',
 '熊谷': '関東',
 '宇都宮': '関東',
 '野辺地': '東北',
 '若松': '東北',
 '輪島': '北陸',
 '津': '中部',
 '金沢': '北陸',
 '甲府': '中部',
 '大間': '東北',
 '川渡': '東北',
 '喜茂別': '北海道',
 '一関': '東北',
 '穂別': '北海道',
 '白馬': '中部',
 '岡山': '中国',
 '釧路': '北海道',
 '姫路': '関西',
 '小国': '東北',
 '石垣島': '沖縄',
 '屋久島': '九州',
 '今津': '関西',
 '敦賀': '北陸',
 '津別': '北海道',
 '長岡': '中部',
 '網走': '北海道',
 '鳥取': '中国',
 '登別': '北海道',
 '徳島': '四国',
 '厳原': '九州',
 '飯山': '中部',
 '那覇': '沖縄',
 '兎和野高原': '関西',
 '枕崎': '九州',
 '菅平': '中部',
 '能生': '中部',
 '奥日光（日光）': '関東',
 '五城目': '東北',
 '新潟': '中部',
 '大正寺': '東北'}

### 再構築
["date","region","area","place",
'日最低気温0℃未満日数(日)',
 '日平均気温25℃以上日数(日)',
 '日最高気温25℃以上日数(日)',
 '最高気温(℃)',
 '最深積雪(cm)',
 '日最低気温25℃以上日数(日)',
 '日照時間(時間)',
 '日最低気温の平均(℃)',
 '日最高気温の平均(℃)',
 '日平均気温0℃未満日数(日)',
 '最低気温(℃)',
 '日照時間0.1時間未満日数(日)',
 '降水量の合計(mm)',
 '日最高気温0℃未満日数(日)',
 '日降水量の最大(mm)',
 '平均気温(℃)',
 '降雪量合計(cm)']

In [ ]:
#
date=raw_weather_df.iloc[3:,0].values+"/1"
df_len=len(date)
weather_df=pd.DataFrame([],columns=["date","region","area","place", '日最低気温0℃未満日数(日)', '日平均気温25℃以上日数(日)', '日最高気温25℃以上日数(日)', '最高気温(℃)', '最深積雪(cm)', '日最低気温25℃以上日数(日)', '日照時間(時間)', '日最低気温の平均(℃)', '日最高気温の平均(℃)', '日平均気温0℃未満日数(日)', '最低気温(℃)', '日照時間0.1時間未満日数(日)', '降水量の合計(mm)', '日最高気温0℃未満日数(日)', '日降水量の最大(mm)', '平均気温(℃)', '降雪量合計(cm)'])
for p in places:
  p_df=raw_weather_df.loc[:,raw_weather_df.loc[0,:]==p]
  area=place_area[p]
  region=area_region[area]
  tmp_dict={'date':date, 'place':[p]*df_len,"area":[area]*df_len,'region':[region]*df_len}
  tmp_dict.update({item[1]:item[3:].values for col,item in p_df.items()})
  tmp_df=pd.DataFrame(tmp_dict)
  tmp_df["date"]=pd.to_datetime(tmp_df["date"])
  weather_df=pd.concat([weather_df,tmp_df], ignore_index=True)
weather_df.head()

,date,region,area,place,日最低気温0℃未満日数(日),日平均気温25℃以上日数(日),日最高気温25℃以上日数(日),最高気温(℃),最深積雪(cm),日最低気温25℃以上日数(日),...,日最低気温の平均(℃),日最高気温の平均(℃),日平均気温0℃未満日数(日),最低気温(℃),日照時間0.1時間未満日数(日),降水量の合計(mm),日最高気温0℃未満日数(日),日降水量の最大(mm),平均気温(℃),降雪量合計(cm)
0,2015-01-01,東北,岩手,雫石,30.0,0.0,0.0,5.2,65.0,0.0,...,-5.8,1.1,26.0,-15.9,4.0,30.5,11.0,10.5,-2.0,111.0
1,2015-02-01,東北,岩手,雫石,26.0,0.0,0.0,7.5,77.0,0.0,...,-5.1,2.7,19.0,-12.5,3.0,63.5,2.0,12.0,-0.8,126.0
2,2015-03-01,東北,岩手,雫石,22.0,0.0,0.0,17.4,87.0,0.0,...,-1.8,7.4,3.0,-7.6,5.0,144.0,2.0,49.5,2.8,158.0
3,2015-04-01,東北,岩手,雫石,7.0,0.0,3.0,28.5,0.0,0.0,...,2.2,15.7,0.0,-2.4,4.0,116.5,0.0,31.0,8.9,0.0
4,2015-05-01,東北,岩手,雫石,1.0,0.0,8.0,29.9,0.0,0.0,...,8.2,21.8,0.0,-0.2,1.0,101.0,0.0,39.5,15.3,0.0

### export

In [ ]:
weather_df.to_csv(this_dir+"/data/weather_df.csv")

### それぞれの地域ごとの平均

In [6]:
each_region_weather_df=weather_df.groupby(['date', 'region'], as_index=False).mean()
each_region_weather_df.head()

<ipython-input-6-e378721494af>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  each_region_weather_df=weather_df.groupby(['date', 'region'], as_index=False).mean()

,date,region,日最低気温0℃未満日数(日),日平均気温25℃以上日数(日),日最高気温25℃以上日数(日),最高気温(℃),最深積雪(cm),日最低気温25℃以上日数(日),日照時間(時間),日最低気温の平均(℃),日最高気温の平均(℃),日平均気温0℃未満日数(日),最低気温(℃),日照時間0.1時間未満日数(日),降水量の合計(mm),日最高気温0℃未満日数(日),日降水量の最大(mm),平均気温(℃),降雪量合計(cm)
0,2015-01-01,中国,13.041667,0.0,0.0,12.325000,27.050000,0.0,71.562500,0.425000,7.350000,3.416667,-3.875000,4.833333,176.500000,0.625000,38.437500,3.625000,75.500000
1,2015-01-01,中部,20.224490,0.0,0.0,10.797959,92.275000,0.0,106.108163,-1.867347,5.308163,11.000000,-6.573469,7.469388,177.846939,2.632653,30.540816,1.642857,148.875000
2,2015-01-01,九州,4.461538,0.0,0.0,17.219231,0.222222,0.0,129.892308,4.450000,12.219231,0.269231,-0.407692,3.230769,112.923077,0.038462,35.692308,8.280769,0.222222
3,2015-01-01,北海道,30.800000,0.0,0.0,5.160000,75.270000,0.0,91.469000,-9.399000,-0.606000,27.950000,-17.180000,6.660000,56.400000,17.640000,12.830000,-4.632000,118.810000
4,2015-01-01,北陸,15.411765,0.0,0.0,12.388235,50.941176,0.0,46.288235,-0.052941,5.876471,1.882353,-2.994118,10.529412,256.970588,0.058824,31.294118,2.664706,104.117647

In [7]:
each_region_weather_df.to_csv(this_dir+"/data/each_region_weather_df.csv")

### それぞれのareaごとの平均

In [9]:
each_area_weather_df=weather_df.groupby(['date', 'region','area'], as_index=False).mean()
each_area_weather_df.head()

<ipython-input-9-0031940e1f78>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  each_area_weather_df=weather_df.groupby(['date', 'region','area'], as_index=False).mean()

,date,region,area,日最低気温0℃未満日数(日),日平均気温25℃以上日数(日),日最高気温25℃以上日数(日),最高気温(℃),最深積雪(cm),日最低気温25℃以上日数(日),日照時間(時間),日最低気温の平均(℃),日最高気温の平均(℃),日平均気温0℃未満日数(日),最低気温(℃),日照時間0.1時間未満日数(日),降水量の合計(mm),日最高気温0℃未満日数(日),日降水量の最大(mm),平均気温(℃),降雪量合計(cm)
0,2015-01-01,中国,山口,7.0,0.0,0.0,13.600000,1.000000,0.0,96.100000,1.950000,10.050000,0.500000,-1.950000,2.500000,119.250000,0.000000,40.750000,5.950000,2.000000
1,2015-01-01,中国,岡山,18.6,0.0,0.0,11.900000,28.800000,0.0,77.840000,-0.640000,6.200000,5.400000,-5.740000,4.200000,176.300000,1.200000,37.700000,2.380000,95.400000
2,2015-01-01,中国,島根,16.0,0.0,0.0,11.771429,27.166667,0.0,56.742857,-0.028571,6.828571,4.285714,-4.042857,5.571429,181.142857,0.857143,39.785714,3.185714,79.666667
3,2015-01-01,中国,広島,13.4,0.0,0.0,12.580000,32.333333,0.0,99.380000,0.320000,7.600000,4.000000,-3.720000,3.000000,134.900000,0.600000,37.300000,3.720000,100.000000
4,2015-01-01,中国,鳥取,5.4,0.0,0.0,12.760000,27.200000,0.0,48.400000,1.620000,7.900000,0.800000,-2.700000,7.200000,234.700000,0.000000,37.500000,4.460000,50.600000

In [10]:
each_area_weather_df.to_csv(this_dir+"/data/each_area_weather_df.csv")