In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

from google.colab import drive
drive.mount('/content/drive')
mount_dir="/content/drive/MyDrive"
this_dir=mount_dir+"/git_repos/probspace/野菜取引価格の予測"

Mounted at /content/drive

In [9]:
p_df=pd.read_csv(this_dir+"/data/price_df.csv",index_col=0)
w_df=pd.read_csv(this_dir+"/data/weather_df.csv",index_col=0)
rw_df=pd.read_csv(this_dir+"/data/each_region_weather_df.csv",index_col=0)
aw_df=pd.read_csv(this_dir+"/data/each_area_weather_df.csv",index_col=0)

In [8]:
rw_df.head()

,date,region,日最低気温0℃未満日数(日),日平均気温25℃以上日数(日),日最高気温25℃以上日数(日),最高気温(℃),最深積雪(cm),日最低気温25℃以上日数(日),日照時間(時間),日最低気温の平均(℃),日最高気温の平均(℃),日平均気温0℃未満日数(日),最低気温(℃),日照時間0.1時間未満日数(日),降水量の合計(mm),日最高気温0℃未満日数(日),日降水量の最大(mm),平均気温(℃),降雪量合計(cm)
0,2015-01-01,中国,13.041667,0.0,0.0,12.325000,27.050000,0.0,71.562500,0.425000,7.350000,3.416667,-3.875000,4.833333,176.500000,0.625000,38.437500,3.625000,75.500000
1,2015-01-01,中部,20.224490,0.0,0.0,10.797959,92.275000,0.0,106.108163,-1.867347,5.308163,11.000000,-6.573469,7.469388,177.846939,2.632653,30.540816,1.642857,148.875000
2,2015-01-01,九州,4.461538,0.0,0.0,17.219231,0.222222,0.0,129.892308,4.450000,12.219231,0.269231,-0.407692,3.230769,112.923077,0.038462,35.692308,8.280769,0.222222
3,2015-01-01,北海道,30.800000,0.0,0.0,5.160000,75.270000,0.0,91.469000,-9.399000,-0.606000,27.950000,-17.180000,6.660000,56.400000,17.640000,12.830000,-4.632000,118.810000
4,2015-01-01,北陸,15.411765,0.0,0.0,12.388235,50.941176,0.0,46.288235,-0.052941,5.876471,1.882353,-2.994118,10.529412,256.970588,0.058824,31.294118,2.664706,104.117647